<nav
  class="navbar navbar-expand-lg bg-body-tertiary bg-dark"
  data-bs-theme="dark"
>
  <div class="container">
    <a class="navbar-brand fs-2" href="#">Feed App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end mx-3"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav fs-5">
        <li class="nav-item">
          <a class="nav-link" href="/post/dashboard">DashBoard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/post/add-post">Add Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/post/get-post">My Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
